.card {
    height: 20em;
    max-width: 100%;
    border-bottom: 2px solid var(--black);
    position: relative;
}

.cardWrapper:first-child {
    margin-top: 1.5em;
}

.overlay {
    position: absolute;
    bottom: 0px;
    margin: 0;
    background: var(--overlay);
    transition: height 0.4s ease-in-out;
    height: 5em;
}

.rating {
    display: flex;
    position: absolute;    
    right: .3em;
    color: var(--yellow);
    bottom: .3em;
    font-size: .9em;
    font-weight: 600;
}

.title {
    font-size: .8em;
    color: var(--white);
    padding: 0 .6em;
    margin: .6em 0;
}

.favBtn {
    background: transparent;
    position: absolute;
    bottom: .3em;
    left: .3em;
    margin: 0;
    color: var(--fav);
    outline: none;
    border: 2px solid var(--fav);
    border-radius: 50%;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 100ms;
    transition-delay: 400ms;
}

.favBtn:hover {
    background: var(--fav);
    color: var(--black);
    border: 2px solid var(--black);

}

.overview {
    opacity: 0;
    font-size: .85em;
    padding: 1em 1em;
    margin: 1em 0;
    color: var(--white);
    background: rgba(0,0,0,.4);
    transition: opacity 400ms;
}

p { margin: 0 .3em 0 .5em; }

@media only screen and (min-width: 480px) {
    .card {
        width: 185px;
        height: 278px;
    }

    .overlay {
        overflow: hidden;
    }
}