.navbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.2em 0 0 0;
    /* text-align: center; */
    font-size: 1.2em;
}

.link {
    color: var(--white);
    margin: 0 .5em;
    text-decoration: none;
}

.link:hover {
    color: var(--overlay)
}