:root {
  /* --blue: #376086; */
  --blue: #272727;
  --white: #EAEAEA;
  --fav: rgba(234, 234, 234, 0.8);

  --yellow: #E8C341;

  --black: #0E0E0E;
  --overlay: rgba(0,0,0,0.8);


}

html {
  background: var(--blue);
}

body {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  body {
    display: block;
  }

}